@import 'src/styles/_variable.scss';
@import 'src/styles/_mixin.scss';

.searchBox {
	position: relative;

	.box {
		position: relative;
		border-radius: 42px;
		background-color: #fff;
		box-shadow: $box-shadow;
		overflow: hidden;
		z-index: 10;

		.icon {
			position: absolute;
			top: 0;
			right: 0;
			width: 64px;
			height: 100%;
			z-index: 2;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $bg-color-light;
			border-radius: 42px;

			img {
				width: 22px;
			}
		}

		.input {
			outline: none;
			border: none;
			width: 100%;
			font-size: 16px;
			line-height: 20px;
			padding: 11px 72px 11px 16px;
			color: $text-color;

			&::placeholder {
				color: $text-placeholder;
			}
		}
	}

	.suggest {
		position: absolute;
		top: 50px;
		left: 0;
		z-index: 10;
		width: 100%;
		border-radius: 8px;
		overflow: hidden;
		box-shadow: $box-shadow;
		max-height: 200px;
		overflow-y: auto;
		background-color: #fff;
		@include customScrollbar;

		.item {
			font-size: 16px;
			line-height: 20px;
			color: $text-color;
			padding: 8px 16px;
			background-color: #fff;
			cursor: pointer;

			&:hover, &.highlight {
				background-color: $bg-color-light;
			}
		}
	}
}
