$base-color: #6C6BE5;
$bg-color: #E3E6F1;
$bg-color-light: rgba(227, 230, 241, 0.25);

$text-color: #3E4042;
$text-placeholder: #B4C2D9;
$text-light-color: #8090B5;

$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

$border-color: $bg-color;
