@import 'src/styles/_variable.scss';

.cardItem {
	width: 74px;
	height: 92px;
	border-radius: 8px;
	background-color: #fff;
	border: 1px solid $border-color;
	padding: 8px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	user-select: none;

	&.active {
		background-color: $bg-color-light;

		.temp {
			font-weight: bold;
		}
	}

	> * {
		pointer-events: none;
	}

	img {
		width: 24px;
	}

	.temp {
		color: $text-color;
		font-size: 13px;
		line-height: 20px;
	}

	.time {
		color: $text-light-color;
		font-size: 12px;
		line-height: 16px;
	}
}
